// noinspection CssInvalidAtRule
@import-normalize;
@import 'scss/colors';

body {
  margin: 0;
  max-width: 1200px;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
}
